*{
    margin:0;
    padding:0;
}
body{
    //width:1440px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color:#fff;
    header{
        padding-top: 202px;
        background-image: url("/images/bg-header-desktop.png");
        background-size: cover;
        height:100vh;
        width:100%;
        text-align: center;
        
        .top{
            
            font-size: 20px;
               // color: Cyan: hsl(171, 66%, 44%)
            h1{
                font-size: 60px;
                padding-top: 40px;
                margin:20px;
                color:#4c5457;
            }
            p{
                font-size:30px;
                padding: 7px 0 40px 0;
                margin:20px;
                line-height: 45px;
                color:#a4a9ad;
            }

            img{
                
                width:176px;
            }
            .bottom{
                color:#fff;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:20px;
                //background-color: #5dccbb;
                height:56px;


                .bottom-1{
                    border-radius: 39px;
                    margin:20px;
                    padding:22px 32px;
                    background-color: #5dccbb;
                    bottom:50px;
                    border-style: solid;
                    border: 20px;
                    border-color: red;
                }
                .bottom-2{
                    border-radius: 39px;
                    margin:20px;
                    padding:22px 32px;
                    background-color: #8896ff;
                    bottom:50px;
                    border-style: solid;
                    border: 20px;
                    border-color: red;
                }
                
            }
        }
        
    }
    .main-1{
        height:100vh;
        padding-top:28px;
        .top-1{
            text-align: center;
            height:145px;
            h2{
                font-size:40px;
                color:#4c5457;
                padding:8px 0;
                
            }
            p{
                font-size:18px;
                color:#a4a9ad;
                line-height: 25px;
            }
        }

        .principal{
            background-image: url("/images/image-computer.png");
            
            padding-top:121px;
            background-position: -30px 68px;
            display:flex;
            background-repeat: no-repeat;
            height: 553px;
        }
        
        .image{
            img{
                width:100%;
            }
        }
        .boxes{
            padding:0 100px 0 750px ;
            display:flex;
            
            flex-direction: column;
            h3{
                font-size:25px;
                color:#4c5457;
                padding:0 20px 8px 265px;
            }
            p{
                font-size:18px;
                line-height: 25px;
                color:#a4a9ad;
                padding:0 20px 41px 265px;
            }
        }
        
    }
    .main-2{
        height: 100vh;
        text-align: center;
        .text{
            h2{
                font-size:40px;
                color:#4c5457;
                padding:20px 0;
                
            }
            p{
                font-size:18px;
                color:#a4a9ad;
                line-height: 25px;
                padding-bottom:55px ;
            }
        }
        img{
            width:50%;
        }
    }

    .main-3{
        height:100vh;

        .main-3-top{
            text-align: center;
            padding-top:30px;
            h2{
                color:#4c5457;
                font-size:40px;
            }
            p{
                color:#a4a9ad;
                font-size:18px;
                line-height: 25px;
            }
        }
        
        .blocks-2{
            display:flex;
            justify-content: space-around;
            text-align: center;
            padding:108px 0 30px 0;

            h3{
                color:#4c5457;
                padding-top:40px;
                font-size:30px;
            }
            p{
                color:#a4a9ad;
                font-size:18px;
                line-height: 25px;
                padding-top:20px;
            }
            
        }
        .empresas{
            display: flex;
            justify-content: space-around;
            padding-top:235px;

            img{
                height:100%;
            }
        }
    }
}

